* {
    margin: 0px;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.important{
    color: red;
}
.link{
    color: dodgerblue;
}
.soul {
    text-decoration: underline;
}
.txtGauche{
    text-align: right;
    margin: 0px 0px 0px 10px;
}
header {
    height: auto;
    margin-bottom:20px;
}
footer {
    margin-top: 20px;
}
h1 {
    text-align: center;
}
.info-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom:1em;
}
.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}
.titreInfor{
    margin-bottom:100px;
}
.infor {
    margin-top: 10px;
    font-size: 15px;
}
body {
    background: #ededed;
    color: black;
    font-family: sans-serif;
}
h2{
    text-decoration: underline;
}
.photo {
    height: 300px;
    width: 300px;
    background-color: #6e6868;
    border-radius: 24% 76% 36% 64% / 63% 20% 80% 37%;
    padding: 0.2em;
    box-shadow: 6px 6px 25px black;
    margin-right: -25em;
    margin-top: -250px;
}

.conteneur {
    background: white;
    box-shadow: 0px 0px 15px black;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-overflow: revert;
    border-radius: 10px;
    border: 3px solid white;
    max-width: 80%;
    margin: auto;
    padding: 0px 5px 0px 5px;
}
.imageSocial{
    width:70px;
    height:70px;
}
/*.boxConteneur {
    display: grid;
    grid-template-columns: 10% 30% 20% 30% 10%;
    grid-template-rows: 75px auto 20px 75px auto;
    border-bottom: 3px dotted black;
    padding-bottom: 20px;
}
.boxRech {
    border-bottom: 3px dotted black;
    padding-bottom: 20px;
}
.box {
    border-radius: 10px;
    border: 3px solid black;
}*/
/*.CT {
    grid-column: 1/6;
    grid-row: 1/3;
}

.CI {
    grid-column: 2/2;
    grid-row: 2/2;
    box-shadow: 0px 0px 15px black;
}
.CD {
    grid-column: 4/4;
    grid-row: 2/2;
    box-shadow: 0px 0px 15px black;
}
.CP {
    grid-column: 1/6;
    grid-row: 4/4;
}
.PF {
    grid-column: 2/2;
    grid-row: 5/5;
    box-shadow: 0px 0px 15px black;
}
.DAEP {
    grid-column: 4/4;
    grid-row: 5/5;
    box-shadow: 0px 0px 15px black;
}
.boxPQM {
    padding-bottom:20px;
}*/
.boxPhotoInfoP {
    border-bottom: 3px dotted black;
    padding-bottom: 20px;
}
.boxDesc{
    border-bottom: 3px dotted black;
    padding-bottom: 20px;
}
.boxExperience {
    border-bottom: 3px dotted black;
    padding-bottom: 20px;
}
.exp-dipPhotoDim{
    width:180px;
    height:100px;
}
.exp-dip {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left:5px;
    margin-right:5px;
    margin-top:20px;
}
.exp-dipInfo {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    margin-bottom: 25px;
    flex: 0 0 50%;
    margin-left: auto;
}
.diplome {
    border-bottom: 3px dotted black;
    padding-bottom: 20px;
    margin-bottom:10px;
}
.photoDev{
    max-height:50px;
    max-height:50px;
}
.compInfo {
    border-bottom: 3px dotted black;
    padding-bottom: 20px;
}
.dev-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.compDiverses {
    
    border-bottom: 3px dotted black;
    padding-bottom: 20px;
}
.comp-flex {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.elec {
    padding-bottom: 10px;
}